/* dark */
$vsc-thumb-color:rgba(0, 0, 0, 0.3);
$vsc-thumb-color-hover:rgba(0, 0, 0,.5);
/* light */
$vsc-thumb-color-light:rgba(144,147,153,.3);
$vsc-thumb-color-light-hover:rgba(144,147,153,.5);
/* dark-reverse */
$vsc-thumb-color-reverse:rgba(255, 255, 255, 0.5);
$vsc-thumb-color-reverse-hover:rgba(255, 255, 255,.7);
/* light-reverse */
$vsc-thumb-color-light-reverse:rgba(255, 255, 255, 0.2);
$vsc-thumb-color-light-reverse-hover:rgba(255, 255, 255,.4);