.page{
    width:100%;
    height:100%;
}

.myscroller{
    width:100%;
    height:300px;
}

.myscroller1{
    width:100%;
    height:200px;
}

.content{
    width: 100%;
    display: inline-block;
    background: #fff;
    color:#000;
    height:auto;
}